html {
    height: 100%;
}
body {
    height: 100%;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    background-color: cadetblue;
    color: rgb(64, 77, 91);
}
.row {
    margin-left: 0px;
}
[class*="col-"] {
    padding-left: 0px;
}
#online-symbol {
    color: wheat;
    font-size: 1.25rem;
}
#menu {
    background-color: #00BCD4;
    margin-right: 0px;
}
.nav-link{
    color: rgba(255, 255, 255, 0.7) !important;
    border-radius: 0px !important;
    position: relative;
    text-decoration: none;
}
.underline:before{
    content: "";
    position: absolute;
    left: 50%;
    bottom: -2px;
    width: 0;
    height: 2px;
    background: #ffffff;
    transition: all .3s;
}
.underline:hover {
    color: rgba(255, 255, 255, 1) !important;
}
.underline.active:before{
    width: 100%;
    left: 0;
    right: 0;
}
.underline.active {
    color: rgba(255, 255, 255, 1) !important;
    background-color: rgba(255, 255, 255, 0) !important;
}
.main {
    flex: 1 1 auto;
    height: 100%;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
}
#left-panel {
    margin-left: 15px;
    border-radius: 0px;
    overflow: hidden;
}
#setting-panel {
    border-radius: 0px;
    padding-top: 10px;
    overflow: auto;
}
#spy {
    min-height: 40%;
}
.flexsec {
    display: flex;
    flex-flow: column;
    align-items: stretch;
    height: 100%;
}
.flexfix {
    flex: 0 1 auto;
}
.flexfill {
    flex: 1 1 auto;
}
.btn-activity-action, .btn-draw-action {
    background-color: #28a745;
    border-radius: 0px;
    color: #ffffffb4;
}
.btn-activity-action:hover, .btn-draw-action:hover {
    color: #ffffffff;
}
.input-field {
    position: relative;
    margin-top: 1rem;
}
.input-field label {
    color: #9e9e9e;
    position: absolute;
    top: 0.8rem;
    left: 0;
    font-size: 1rem;
    cursor: text;
    transition: .2s ease-out;
}
/* [class*="col"][class~="input-field"] label {
    left: 1rem;
} */
.input-field input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: 1rem;
    margin: 0 0 20px 0;
    padding: 0;
    box-shadow: none;
    box-sizing: content-box;
    transition: all 0.3s;
}
.input-field input:focus {
    outline: none;
    border-bottom: #5F9EA0 solid 1px;
    box-shadow: 0px 1px 0px #5F9EA0; /*下边阴影*/
    border-radius: 0px;
}
.input-field label.active {
    color: #5F9EA0;
    font-size: 0.8rem;
    transform: translateY(-140%);
}
table.inline-table {
    font-size: 0.9rem;
    margin-bottom: 0px;
}
#lucky-list-head {
    margin-bottom: -2px !important;
}
.lucky-list {
    height: calc(60% - 180px);
    overflow-y: auto;
}
.lucky-list::-webkit-scrollbar {
    display: none;
}
.parts-list {
    height: calc(100% - 200px);
    overflow-y: auto;
}
.scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 0px;
}
.scrollbar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #1B7690;
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
}
.scrollbar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: #EDEDED;
}
div.calendarWarp, input.ECalendar {
    width: 100%;
}
div.chosen-search {
    width: calc(100% - 24px);
}
div.chosen-search input {
    margin-bottom: 0px;
    height: 1.5rem;
}
div.input-field div.chosen-container + label {
    top: 0rem;
}
div.input-field div.chosen-container {
    margin-bottom: 1rem;
}
div.input-field .chosen-drop, div.input-field div.chosen-container a, div.input-field .chosen-search input {
    border-radius: 0 !important;
}
.table-header {
    margin-bottom: -20px !important;
    background-color: #00bcd4;
    color: white;
    padding-left: 17px !important;
    line-height: 3rem;
}
.btn.btn-round {
    background-color: #26A69A;
    width: 2.5rem;
    height: 2.5rem;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.42;
    border-radius: 50%;
}
.btn.btn-round i.mdi {
    color: white;
    font-size: 1.2rem;
}
.right {
    position: absolute;
    right: 10px;
}
.table-adder {
    height: 1.25rem;
}
.item-list table, .prize-list table {
    width: 100%;
}
.prize-list, .item-list {
    height: calc(100% - 260px);
    overflow-y: auto;
}
td input {
    border: none;
    border-bottom: transparent solid 1px;
    border-radius: 0;
    outline: none;
    margin: 0 0 20px 0;
    padding: 0;
    box-shadow: none;
    box-sizing: content-box;
    width: 100%;
    height: 2rem;
}
td input:hover {
    border-bottom: #9e9e9e solid 1px;
}
td input:focus {
    border-bottom: #5F9EA0 solid 1px;
    box-shadow: 0px 1px 0px #5F9EA0; /*下边阴影*/
}
.table-icon i.mdi {
    font-size: 1.2rem;
}
.table-icon {
    display: inline-block;
    text-align: center;
    cursor: pointer;
}
.icon-td {
    text-align: center !important;
    vertical-align: middle !important;
}
.minicolors {
    width: 100% !important;
    padding-right: 30px;
    padding-top: 15px;
}
input.minicolors {
    padding-bottom: 10px;
}
.minicolors-swatch {
    top: 15px !important;
}
input[type="range"] {
    -webkit-appearance: none;
    margin-top: 42px;
    background-color: #ebeff4;
    width: 100%;
    -webkit-appearance: none;
    height:4px;
    padding: 0;
    border: none;
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    cursor: default;
    top: 0;
    height: 20px;
    width: 20px;
    transform: translateY(0px);
    background: #fff;
    border-radius: 15px;
    border: 5px solid #00BCD4;
}
input[type=range]:focus {
    outline: none;
    box-shadow: none;
    border: 0;
}
.range-value {
    position: absolute;
    top: 0.7rem;
}
#prize-list-body input {
    cursor: move;
}
#prize-list-body input:focus {
    cursor: text;
}
#cheat-info {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    animation: fadeIn 0.2s;
	-webkit-animation: fadeIn 0.2s;
}
.item-name, .item-prize, .max_winner {
    margin-bottom: 0px;
}
.item-prize {
    color: rgb(64, 77, 91);
}
@keyframes fadeIn {
	0%   {opacity: 0;}
	25%  {opacity: 0.25;}
	50%  {opacity: 0.5;}
	75%  {opacity: 0.75;}
	100% {opacity: 1;}
}
#cheat-modal .modal-content {
    overflow: hidden;
    height: 90%;
}
.cheat-scroll {
    height: calc(100% - 210px);
    overflow-y: auto;
}
.cheat-info-header {
    color: white;
    background-color: #343A40;
}
#cheat-statebar {
    color: tomato;
    position: absolute;
    left: 1rem;
    display: none;
    padding-top: 8px;
    padding-bottom: 8px;
}
#cheat-winner tr, #cheat-loser tr {
    cursor: move;
}
#cheat-winner input, #cheat-loser input {
    cursor: text;
}
.dropdown-item:hover {
    background-color: #cacaca;
    cursor: pointer;
}
#switch-page {
    width: 25%;
    background-color: #00BCD4;
    border-radius: 0px;
    color: #ffffff;
}
#switch-page:hover {
    background-color: #1B7690;
}
#finish-activity, #update-setting {
    width: 100%;
}
/* disabled elements' styles begin */
.table-icon[disabled="disabled"] i {
    color: #21252966;
    cursor: default;
}
.item-prize.disable, .item-name[readonly="readonly"], 
.max_winner[readonly="readonly"] {
    color: #21252966;
}
.item-prize.disable:hover, .item-name[readonly="readonly"]:hover, 
.max_winner[readonly="readonly"]:hover {
    border-bottom: #ffffff solid 1px;
}
.item-prize.disable:focus, .item-name[readonly="readonly"]:focus,
.max_winner[readonly="readonly"]:focus {
    border-bottom: #ffffff solid 1px;
    box-shadow: none;
}
#finish-confirm .modal-header {
    border-bottom: none;
}
#finish-confirm .modal-footer {
    border-top: none;
}
.bootstrap-switch {
    height: 40px;
    position: absolute;
    right: 15px;
}
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary {
    color: #fff;
    background-color: #00BCD4;
    border-color: #00BCD4;
}
/* disabled elements' styles end */

@media (max-width: 768px) {
    #setting-panel {
        margin-left: 15px;
        margin-top: 15px;
    }
    #left-panel-tab {
        display: none;
    }
    .header {
        position: fixed;
        top: 0px;
        width: 100%;
        z-index: 2;
    }
    .main {
        position: relative;
        top: 7rem;
    }
}