html {
    height: 100%;
}
body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: cadetblue;
    color: rgb(64, 77, 91);
    font-weight: 500;
    font-size: 1.05em;
    font-family: "Microsoft YaHei", 宋体, "Segoe UI", 
    "Lucida Grande", Helvetica, Arial, sans-serif, FreeSans, Arimo;
}
.nav-content {
    background-color: #00bcd4;
}
.btn-draw-action, .btn-activity-action {
    background-color: forestgreen;
    /* margin-left: 4.5%; */
}
#draw-action, #activity-action {
    font-size: 26px;
}
#draw-label, #activity-label {
    color: white;
    font-size: 20px;
}
.main {
    flex: 1;
}
#setting-panel {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
#setting-panel::-webkit-scrollbar {
    width: 10px;
    height: 0px;
}
#setting-panel::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #1B7690;
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
}
#setting-panel::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: #EDEDED;
}
.global-control {
    margin-top: 10px;
    padding-left: 2%;
    padding-right: 2%;
}
.import-participants {
    padding-left: 25px;
    padding-right: 25px;
    margin-left: 20px;
    margin-top: 10px;
}
.parts-list {
    margin-left: 20px;
    margin-right: 20px;
    height: 61%;
    border: 1px solid rgb(158, 158, 158);
    overflow-y: auto;
}
.lucky-list::-webkit-scrollbar, .parts-list::-webkit-scrollbar {
    width: 10px;
    height: 0px;
}
.lucky-list::-webkit-scrollbar-thumb, .parts-list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #1B7690;
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
}
.lucky-list::-webkit-scrollbar-track, .parts-list::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: #EDEDED;
}
.calendarWarp {
    width: 100%;
}

.lucky-list {
    height: 40%;
    border: 1px solid rgb(158, 158, 158);
    overflow-y: auto;
}
.prize-list, .item-list {
    height: 71%;
    border: 1px solid rgb(158, 158, 158);
    overflow-y: auto;
}
.prize-list::-webkit-scrollbar, .item-list::-webkit-scrollbar {
    width: 0 !important 
}
.del-prize, .del-item {
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
}
.del-prize:hover, .del-item:hover {
    color: #00bcd4;
}
div.prize-list td, div.item-list td {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}
.cur-item {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}
.table-header {
    margin-bottom: -20px !important;
    background-color: #00bcd4;
    color: white;
    padding-left: 17px !important;
}
.table-adder {
    padding-right: 0px;
    margin-bottom: -20px;
}
.toast {
    background-color: red;
}
.minicolors {
    width: 100% !important;
    padding-right: 30px;
    padding-top: 15px;
}
input.minicolors {
    padding-bottom: 10px;
}
.minicolors-swatch {
    top: 15px !important;
}