html {
    height: 100%;
}
body {
    min-height: 100%;
    background-color: cadetblue;
    color: rgb(64, 77, 91);
    font-weight: 500;
    font-size: 1.05em;
    font-family: "Microsoft YaHei", 宋体, "Segoe UI", 
    "Lucida Grande", Helvetica, Arial, sans-serif, FreeSans, Arimo;
}
.main {
    flex: 1;
}
.row {
    margin-left: 0;
    margin-right: 0;
}
.card {
    margin-left: 50px;
    border-radius: 0px;
}
.btn-primary {
    background-color: #00BCD4;
}